body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}









<style>
    .btn-icon {
    /* display: inline; */
  position: sticky;
  /* padding:0; */
  /* float:left; */
  right: 0;
  /* margin:0; */
}
.actiontbl{
    min-width: 130px;
    white-space: nowrap
    }
    .table thead{
text-align:center
}
.table td{
text-align:center

/* font-size:10px; */
}

@media (max-width: 500px){
    /* background-color: lightgreen; */
    /* .btn{
        width: 50%;
        font-size: 9px;
    }
    table{
        zoom:50%;

    }
    .actiontbl{

        }
.table thead{
        font-size:9px;
        text-align:center

        }
.table td{
        font-size:9px;
        text-align:center

} */

    /* .table thead{
        display:none;
    }
    .table, .table tbody, .table tr, table td{
        display: block;
        width: 100%;
    }
    .table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	} */

/* .container {width: 80%; float: left;} */


}
</style>
